<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success - Paiement</title>
</head>
<body>
  <h1>Paiement Initié avec Succès</h1>
  <p>Veuillez utiliser le QR code ci-dessous pour effectuer votre paiement.</p>
  <img src="<%= qr_code_url %>" alt="QR Code">
  <p>Si vous avez un problème avec le paiement, veuillez contacter notre support.</p>
</body>
</html>
